# Dependencies
node_modules/
package-lock.json

# Environment Variables & Secrets
.env
.env*.local
.env.*
backend/.env
secrets.json

# Logs & Temporary Files
*.log
*.tmp
error.log

# Build & Deployment Outputs
build/
dist/
.vercel

# Operating System Files
.DS_Store
Thumbs.db